
body
	.nav
		height 40px
		width 1192px
		margin 0 auto
		position relative
		.a
			width 152px
			height 40px
			background white
			position relative
			text-align center
			float left
			line-height 40px
			font-size 14px
			.down
				height 403px
				width 128px
				border 1px solid rgb(220,220,220)
				position absolute
				background white
				z-index 2
				left 12px
				top 30px
				display none
				color black
				>a
					display block
					height 40px
					border-bottom 1px dotted rgb(220,220,220)
					text-align center
					line-height 40px
					font-size 12px
					position relative
					img
						vertical-align:middle;
				>a:last-of-type
					border none
				>a:hover
					background rgb(0,204,204)
					color white
			.img
				width 13px
				height 10px
				background-image url(../img/1.png)
				display inline-block
				transition 1s
			&:hover .img
				transform rotate(180deg)
				background-image url(../img/14.png)
			&:hover
				cursor pointer
				color rgb(0,204,204)
		.a2
			width 130px
			height 40px
			background white
			position relative
			text-align center
			float right
			line-height 40px
			font-size 14px
			.down2
				height 121px
				width 128px
				border 1px solid rgb(220,220,220)
				position absolute
				background white
				z-index 10
				left 0px
				top 30px
				display none
				color black
				>a
					display block
					height 40px
					border-bottom 1px dotted rgb(220,220,220)
					text-align center
					line-height 40px
					font-size 12px
					position relative
					img
						vertical-align:middle;
				>a:last-of-type
					border none
				>a:hover
					background rgb(0,204,204)
					color white
			.img
				width 13px
				height 10px
				background-image url(../img/1.png)
				display inline-block
				transition 1s
			&:hover .img
				transform rotate(180deg)
				background-image url(../img/14.png)
			&:hover
				cursor pointer
				color rgb(0,204,204)
		>a
			display block
			float left
			text-align center
			line-height 40px
			font-size 14px
			&:hover
				color rgb(0,204,204)	
			&:nth-of-type(1)
				width 104px
				height 40px
				background white
			&:nth-of-type(2)
				width 1px
				height 14px
				background rgb(230,230,230)
				margin-top 13px
			&:nth-of-type(3)
				width 1px
				height 14px
				background rgb(230,230,230)
				margin-top 13px
			&:nth-of-type(4)
				width 120px
				height 40px
				background white
			&:nth-of-type(6)
				width 130px
				height 40px
				background white
				float right	
				position relative	
				.img
					width 20px
					height 20px
					background-image url(../img/3.png)
					display inline-block
					vertical-align middle
				&:hover .img
					background-image url(../img/2.png)
			&:nth-of-type(5)
				float right	
				width 1px
				height 14px
				background rgb(230,230,230)
				margin-top 13px
	.line
		width 100%
		height 2px
		background rgb(0,204,204)
	.top
		height 540px
		width 100%
		background rgb(242,242,242)
		.inside
			width 1192px
			height 500px
			float left
			margin-top 20px
			margin-left 50%
			transform translateX(-50%)
			.banner
				width 540px
				height 500px
				float left
				position relative
				overflow hidden
			.right
				width 350px
				height 500px
				float left
				background red
				.right1
					width 350px
					height 250px
					background-image url(../img/a.png)
				.right2
					width 350px
					height 250px
					background-image url(../img/b.png)
			.moreRight
				width 290px
				height 500px
				float right
				background gray
				.m1
					width 290px
					height 78px
					background-image url(../img/c.png)
					position relative
					.aa1
						font-size 28px
						position relative
						left 20px
						line-height 78px
						color white
					.aa2
						display block
						position absolute
						left 200px
						top 25px
						height 28px 
						width 28px
						background-image url(../img/d.png)
					.aa3
						display block
						position absolute
						left 228px
						top 25px
						height 28px 
						width 28px
						background-image url(../img/e.png)
				div:not(:first-of-type)
					width 290px
					height 194px
				.m2
					background-image url(../img/f.png)
				.m3
					background-image url(../img/g.png)
				.m4
					background-image url(../img/h.png)
	.top-2
		height 140px
		width 100%
		.number
			width 1192px
			height 140px
			margin 0 auto
			div
				width 1000px
				height 140px 
				float left
				.totle-money
					display inline-block
					height 140px
					text-align center
					width 222px
					position relative
					font-family microsoft yahei
					.text
						margin-top 43px
						display inline-block
						width 222px
						font-size 14px
						color rgb(165,165,165)
					.num
						display inline-block
						width 222px
						font-size 30px
						line-height 45px
						color rgb(120,120,120)
					.line
						display inline-block
						height 65px
						width 1px
						background rgb(0,204,206)
						position absolute
						top 43px
						right 0
						-webkit-transform: rotate(20deg);
				.totle-money2
					display inline-block
					height 140px
					text-align center
					width 222px
					position relative
					font-family microsoft yahei
					.text
						margin-top 43px
						display inline-block
						width 222px
						font-size 14px
						color rgb(165,165,165)
					.num
						display inline-block
						width 222px
						font-size 30px
						line-height 45px
						color rgb(120,120,120)
					.line
						display inline-block
						height 65px
						width 1px
						background rgb(0,204,206)
						position absolute
						top 43px
						right 0
						-webkit-transform: rotate(20deg);
				.totle-money3
					display inline-block
					height 140px
					text-align center
					width 222px
					position relative
					font-family microsoft yahei
					.text
						margin-top 43px
						display inline-block
						width 222px
						font-size 14px
						color rgb(165,165,165)
					.num
						display inline-block
						width 222px
						font-size 30px
						line-height 45px
						color rgb(120,120,120)
					.line
						display inline-block
						height 65px
						width 1px
						background rgb(0,204,206)
						position absolute
						top 43px
						right 0
						-webkit-transform: rotate(20deg);
				.totle-money4
					display inline-block
					height 140px
					text-align center
					width 222px
					position relative
					font-family microsoft yahei
					.text
						margin-top 43px
						display inline-block
						width 222px
						font-size 14px
						color rgb(165,165,165)
					.num
						display inline-block
						width 222px
						font-size 30px
						line-height 45px
						color rgb(120,120,120)
	.hot
		height 634px
		width 100%
		background-image url(../img/back.png)
		background-size cover
		.title
			text-align center
			font-size 28px
			color white
			padding-top 28px
			width 1190px
			margin 0 auto
			line-height 60px
		.hot-tag
			color white
			text-align center
			height 31px
			line-height 28px
			margin-top 18px
			width 1190px 
			margin 0 auto
			.link
				display inline-block
				font-size 12px
				height 28px
				padding 0 10px
				margin-left 12px
				border 1px solid white
				border-radius 3px
				text-align center
				line-height 28px
				&:hover
					border 1px solid rgb(0,204,206)
					background rgb(0,204,206)
					cursor pointer
		.hot-down
			width 1215px
			height 450px
			margin 20px auto
			a
				width 222px
				height 450px
				display block
				float left
				margin-right 21px
				&:nth-of-type(1)
					background-image url(../img/1.jpg)
				&:nth-of-type(2)
					background-image url(../img/2.jpg)
				&:nth-of-type(3)
					background-image url(../img/3.jpg)
				&:nth-of-type(4)
					background-image url(../img/4.jpg)
				&:nth-of-type(5)
					background-image url(../img/5.jpg)
				.item-title
					padding-left 18px
					color rgb(42,52,63)
					font-size 24px
					height 58px
					width 218px
					line-height 58px
					font-family microsoft yahei
				.des
					width 150px
					padding-left 18px
					font-size 12px
					color rgb(152,165,180)
					margin-top 15px
					line-height 18px
					height 35px
				.text-per
					font-size 16px
					color rgb(130,140,152)
					padding-left 18px
					margin-top 30px
				.per
					font-size 31px
					color rgb(0,204,206)
					line-height 40px
					font-family Helvetica
					padding-left 18px
					padding-top 10px
	.kind
		width 100%
		.kind-top
			width 1190px
			height 70px
			background-image url(../img/16.png)
			margin 0 auto
			margin-top 30px
		.title0
			width 1190px
			height 40px
			margin 0 auto
			>a
				&:nth-of-type(1)
					font-size 14px
					color rgb(90,90,90)
				&:nth-of-type(2)
					font-size 20px
					color rgb(90,90,90)
				&:nth-of-type(3)
					display inline-block
					background-image url(../img/17.png)
					height 13px 
					width 9px
		.inside0
			width 1200px
			height 780px
			margin 0 auto
			>div
				width 280px
				height 370px
				float left
				margin-right 20px
				margin-bottom 20px
				position relative
				border 1px solid rgb(237,237,237)
				&.pag1					
					img
						position absolute
						left -66px
						z-index 1
					>div
						&:nth-of-type(1)
							font-size 24px
							line-height 24px
							color white
							position absolute
							z-index 2
							top 28px
							left 30px
						&:nth-of-type(2)
							font-size 14px
							line-height 14px
							color white
							position absolute
							z-index 2
							top 64px
							left 30px
						&:nth-of-type(3)
							width 100px
							height 30px
							background white
							position absolute
							z-index 2
							top 96px
							left 30px
							text-align center
							span
								line-height 30px
								color rgb(120,201,227)
								font-size 14px
				&.pag2
					.pag2-1
						height 184px
						width 280px	
						>img
							height 184px
							width 278px	
					.pag2-2
						height 64px
						width 280px
						>span
							display block
							height 42px
							width 250px
							margin 11px 15px
							line-height 22px
					.pag2-3
						height 52px
						width 250px
						margin 0 auto
						>span
							padding 0 5px
							height 24px
							background rgb(240,240,240)
							display block
							float left
							text-align center
							line-height 24px
							font-size 12px
							margin-right 10px
							color rgb(153,153,153)
							&:hover
								background rgb(210,210,210)
								cursor pointer
					.pag2-4
						height 6px
						width 250px
						background rgb(237,237,237)
						border-radius 3px	
						margin 0 auto
						position relative
						overflow hidden
						>div
							height 6px
							width 250px
							background rgb(0,204,205)
							border-radius 3px	
							position absolute
							left -10%
					.pag2-5
						height 31px
						width 280px
						margin 10px auto
						>span
							height 31px 
							display block
							float left
							margin-right -15px
							text-align center
							>span:nth-of-type(1)
								font-size 14px
								line-height 14px
								color rgb(51,51,51)
								display inline-block
								width 100%
							>span:nth-of-type(2)
								font-size 12px
								line-height 14px
								color rgb(153,153,153)
								display inline-block
								width 100%
				&.pag3
					.pag3-1
						height 184px
						width 280px	
						>img
							height 184px
							width 278px	
					.pag3-2
						height 64px
						width 280px
						>span
							display block
							height 42px
							width 250px
							margin 11px 15px
							line-height 22px
					.pag3-3
						height 52px
						width 250px
						margin 0 auto
						>span
							padding 0 5px
							height 24px
							background rgb(240,240,240)
							display block
							float left
							text-align center
							line-height 24px
							font-size 12px
							margin-right 10px
							color rgb(153,153,153)
							&:hover
								background rgb(210,210,210)
								cursor pointer
					.pag3-4
						height 6px
						width 250px
						background rgb(237,237,237)
						border-radius 3px	
						margin 0 auto
						position relative
						overflow hidden
						>div
							height 6px
							width 250px
							background rgb(0,204,205)
							border-radius 3px	
							position absolute
							left -10%
					.pag3-5
						height 31px
						width 280px
						margin 10px auto
						>span
							height 31px 
							display block
							float left
							margin-right -10px
							text-align center
							>span:nth-of-type(1)
								font-size 14px
								line-height 14px
								color rgb(51,51,51)
								display inline-block
								width 100%
							>span:nth-of-type(2)
								font-size 12px
								line-height 14px
								color rgb(153,153,153)
								display inline-block
								width 100%
				&.pag4
					.pag4-1
						height 184px
						width 280px	
						>img
							height 184px
							width 278px	
					.pag4-2
						height 64px
						width 280px
						>span
							display block
							height 42px
							width 250px
							margin 11px 15px
							line-height 22px
					.pag4-3
						height 52px
						width 250px
						margin 0 auto
						>span
							padding 0 5px
							height 24px
							background rgb(240,240,240)
							display block
							float left
							text-align center
							line-height 24px
							font-size 12px
							margin-right 10px
							color rgb(153,153,153)
							&:hover
								background rgb(210,210,210)
								cursor pointer
					.pag4-4
						height 6px
						width 250px
						background rgb(237,237,237)
						border-radius 3px	
						margin 0 auto
						position relative
						overflow hidden
						>div
							height 6px
							width 250px
							background rgb(0,204,205)
							border-radius 3px	
							position absolute
							left -10%
					.pag4-5
						height 31px
						width 280px
						margin 10px auto
						>span
							height 31px 
							display block
							float left
							margin-right -10px
							text-align center
							>span:nth-of-type(1)
								font-size 14px
								line-height 14px
								color rgb(51,51,51)
								display inline-block
								width 100%
							>span:nth-of-type(2)
								font-size 12px
								line-height 14px
								color rgb(153,153,153)
								display inline-block
								width 100%
				&.pag5
					.pag5-1
						height 184px
						width 280px	
						>img
							height 184px
							width 278px	
					.pag5-2
						height 64px
						width 280px
						>span
							display block
							height 42px
							width 250px
							margin 11px 15px
							line-height 22px
					.pag5-3
						height 52px
						width 250px
						margin 0 auto
						>span
							padding 0 5px
							height 24px
							background rgb(240,240,240)
							display block
							float left
							text-align center
							line-height 24px
							font-size 12px
							margin-right 10px
							color rgb(153,153,153)
							&:hover
								background rgb(210,210,210)
								cursor pointer
					.pag5-4
						height 6px
						width 250px
						background rgb(237,237,237)
						border-radius 3px	
						margin 0 auto
						position relative
						overflow hidden
						>div
							height 6px
							width 250px
							background rgb(0,204,205)
							border-radius 3px	
							position absolute
							left -10%
					.pag5-5
						height 31px
						width 280px
						margin 10px auto
						>span
							height 31px 
							display block
							float left
							margin-right -10px
							text-align center
							>span:nth-of-type(1)
								font-size 14px
								line-height 14px
								color rgb(51,51,51)
								display inline-block
								width 100%
							>span:nth-of-type(2)
								font-size 12px
								line-height 14px
								color rgb(153,153,153)
								display inline-block
								width 100%
				&.pag6
					.pag6-1
						height 184px
						width 280px	
						>img
							height 184px
							width 278px	
					.pag6-2
						height 64px
						width 280px
						>span
							display block
							height 42px
							width 250px
							margin 11px 15px
							line-height 22px
					.pag6-3
						height 52px
						width 250px
						margin 0 auto
						>span
							padding 0 5px
							height 24px
							background rgb(240,240,240)
							display block
							float left
							text-align center
							line-height 24px
							font-size 12px
							margin-right 10px
							color rgb(153,153,153)
							&:hover
								background rgb(210,210,210)
								cursor pointer
					.pag6-4
						height 6px
						width 250px
						background rgb(237,237,237)
						border-radius 3px	
						margin 0 auto
						position relative
						overflow hidden
						>div
							height 6px
							width 250px
							background rgb(0,204,205)
							border-radius 3px	
							position absolute
							left -10%
					.pag6-5
						height 31px
						width 280px
						margin 10px auto
						>span
							height 31px 
							display block
							float left
							margin-right -10px
							text-align center
							>span:nth-of-type(1)
								font-size 14px
								line-height 14px
								color rgb(51,51,51)
								display inline-block
								width 100%
							>span:nth-of-type(2)
								font-size 12px
								line-height 14px
								color rgb(153,153,153)
								display inline-block
								width 100%
				&.pag7
					.pag7-1
						height 184px
						width 280px	
						>img
							height 184px
							width 278px	
					.pag7-2
						height 64px
						width 280px
						>span
							display block
							height 42px
							width 250px
							margin 11px 15px
							line-height 22px
					.pag7-3
						height 52px
						width 250px
						margin 0 auto
						>span
							padding 0 5px
							height 24px
							background rgb(240,240,240)
							display block
							float left
							text-align center
							line-height 24px
							font-size 12px
							margin-right 10px
							color rgb(153,153,153)
							&:hover
								background rgb(210,210,210)
								cursor pointer
					.pag7-4
						height 6px
						width 250px
						background rgb(237,237,237)
						border-radius 3px	
						margin 0 auto
						position relative
						overflow hidden
						>div
							height 6px
							width 250px
							background rgb(0,204,205)
							border-radius 3px	
							position absolute
							left -10%
					.pag7-5
						height 31px
						width 280px
						margin 10px auto
						>span
							height 31px 
							display block
							float left
							margin-right -10px
							text-align center
							>span:nth-of-type(1)
								font-size 14px
								line-height 14px
								color rgb(51,51,51)
								display inline-block
								width 100%
							>span:nth-of-type(2)
								font-size 12px
								line-height 14px
								color rgb(153,153,153)
								display inline-block
								width 100%
				&.pag8
					.pag8-1
						height 184px
						width 280px	
						>img
							height 184px
							width 278px	
					.pag8-2
						height 64px
						width 280px
						>span
							display block
							height 42px
							width 250px
							margin 11px 15px
							line-height 22px
					.pag8-3
						height 52px
						width 250px
						margin 0 auto
						>span
							padding 0 5px
							height 24px
							background rgb(240,240,240)
							display block
							float left
							text-align center
							line-height 24px
							font-size 12px
							margin-right 10px
							color rgb(153,153,153)
							&:hover
								background rgb(210,210,210)
								cursor pointer
					.pag8-4
						height 6px
						width 250px
						background rgb(237,237,237)
						border-radius 3px	
						margin 0 auto
						position relative
						overflow hidden
						>div
							height 6px
							width 250px
							background rgb(0,204,205)
							border-radius 3px	
							position absolute
							left -10%
					.pag8-5
						height 31px
						width 280px
						margin 10px auto
						>span
							height 31px 
							display block
							float left
							margin-right -10px
							text-align center
							>span:nth-of-type(1)
								font-size 14px
								line-height 14px
								color rgb(51,51,51)
								display inline-block
								width 100%
							>span:nth-of-type(2)
								font-size 12px
								line-height 14px
								color rgb(153,153,153)
								display inline-block
								width 100%
	.people
		width 1190px
		height 80px
		background-image url(../img/18.png)	
		background-repeat no-repeat
		margin 20px auto						
	.peopleInside
		width 1190px
		height 310px	
		background rgb(236,236,236)		
		margin 0 auto
		.peopleRight
			width 300px
			height 310px
			float right	
			>div
				&:nth-of-type(1)
					width 300px
					height 62px
					background-image url(../img/k1.png)
				&:nth-of-type(2)
					width 300px
					height 62px
					background-image url(../img/k2.png)
				&:nth-of-type(3)
					width 300px
					height 62px
					background-image url(../img/k3.png)
				&:nth-of-type(4)
					width 300px
					height 62px
					background-image url(../img/k4.png)
				&:nth-of-type(5)
					width 300px
					height 62px
					background-image url(../img/k5.png)
		.peopleLeft
			width 890px
			height 310px
			float left
			.leftImg
				height 270px 
				width 410px
				float left
				margin-top 20px
				margin-left 20px
				background-image url(../img/i.png)
			.rightText
				height 270px
				width 440px
				float right
				margin-right 20px
				margin-top 20px
				background-image url(../img/j.png)
	.new
		width 1190px
		height 80px
		background-image url(../img/20.png)	
		background-repeat no-repeat
		margin 0 auto
		margin-top 40px	
		position relative
		.bg
			width 1920px
			height 190px
			position absolute
			background rgb(236,236,236)
			left -365px
			top 320px
	.newInside
		width 1200px
		height 390px
		margin 0 auto
		>div
			width 280px
			height 390px
			float left
			margin-right 20px
			margin-bottom 20px
			position relative
			border 1px solid rgb(237,237,237)
			background white	
			&.pag5
				.pag5-1
					height 184px
					width 280px	
					>img
						height 184px
						width 278px	
				.pag5-2
					height 64px
					width 280px
					>span
						display block
						height 42px
						width 250px
						margin 11px 15px
						line-height 22px
				.pag5-3
					height 52px
					width 250px
					margin 0 auto
					>span
						padding 0 5px
						height 24px
						background rgb(240,240,240)
						display block
						float left
						text-align center
						line-height 24px
						font-size 12px
						margin-right 10px
						color rgb(153,153,153)
						&:hover
							background rgb(210,210,210)
							cursor pointer
				.pag5-4
					height 6px
					width 250px
					background rgb(237,237,237)
					border-radius 3px	
					margin 0 auto
					position relative
					overflow hidden
					>div
						height 6px
						width 250px
						background rgb(0,204,205)
						border-radius 3px	
						position absolute
						left -100%
				.pag5-5
					height 31px
					width 280px
					margin 10px auto
					>span
						height 31px 
						display block
						float left
						margin-right -10px
						text-align center
						>span:nth-of-type(1)
							font-size 14px
							line-height 14px
							color rgb(51,51,51)
							display inline-block
							width 100%
						>span:nth-of-type(2)
							font-size 12px
							line-height 14px
							color rgb(153,153,153)
							display inline-block
							width 100%
			&.pag6
				.pag6-1
					height 184px
					width 280px	
					>img
						height 184px
						width 278px	
				.pag6-2
					height 64px
					width 280px
					>span
						display block
						height 42px
						width 250px
						margin 11px 15px
						line-height 22px
				.pag6-3
					height 52px
					width 250px
					margin 0 auto
					>span
						padding 0 5px
						height 24px
						background rgb(240,240,240)
						display block
						float left
						text-align center
						line-height 24px
						font-size 12px
						margin-right 10px
						color rgb(153,153,153)
						&:hover
							background rgb(210,210,210)
							cursor pointer
				.pag6-4
					height 6px
					width 250px
					background rgb(237,237,237)
					border-radius 3px	
					margin 0 auto
					position relative
					overflow hidden
					>div
						height 6px
						width 250px
						background rgb(0,204,205)
						border-radius 3px	
						position absolute
						left -91%
				.pag6-5
					height 31px
					width 280px
					margin 10px auto
					>span
						height 31px 
						display block
						float left
						margin-right -10px
						text-align center
						>span:nth-of-type(1)
							font-size 14px
							line-height 14px
							color rgb(51,51,51)
							display inline-block
							width 100%
						>span:nth-of-type(2)
							font-size 12px
							line-height 14px
							color rgb(153,153,153)
							display inline-block
							width 100%
			&.pag7
				.pag7-1
					height 184px
					width 280px	
					>img
						height 184px
						width 278px	
				.pag7-2
					height 64px
					width 280px
					>span
						display block
						height 42px
						width 250px
						margin 11px 15px
						line-height 22px
				.pag7-3
					height 52px
					width 250px
					margin 0 auto
					>span
						padding 0 5px
						height 24px
						background rgb(240,240,240)
						display block
						float left
						text-align center
						line-height 24px
						font-size 12px
						margin-right 10px
						color rgb(153,153,153)
						&:hover
							background rgb(210,210,210)
							cursor pointer
				.pag7-4
					height 6px
					width 250px
					background rgb(237,237,237)
					border-radius 3px	
					margin 0 auto
					position relative
					overflow hidden
					>div
						height 6px
						width 250px
						background rgb(0,204,205)
						border-radius 3px	
						position absolute
						left -93%
				.pag7-5
					height 31px
					width 280px
					margin 10px auto
					>span
						height 31px 
						display block
						float left
						margin-right -10px
						text-align center
						>span:nth-of-type(1)
							font-size 14px
							line-height 14px
							color rgb(51,51,51)
							display inline-block
							width 100%
						>span:nth-of-type(2)
							font-size 12px
							line-height 14px
							color rgb(153,153,153)
							display inline-block
							width 100%
			&.pag8
				.pag8-1
					height 184px
					width 280px	
					>img
						height 184px
						width 278px	
				.pag8-2
					height 64px
					width 280px
					>span
						display block
						height 42px
						width 250px
						margin 11px 15px
						line-height 22px
				.pag8-3
					height 52px
					width 250px
					margin 0 auto
					>span
						padding 0 5px
						height 24px
						background rgb(240,240,240)
						display block
						float left
						text-align center
						line-height 24px
						font-size 12px
						margin-right 10px
						color rgb(153,153,153)
						&:hover
							background rgb(210,210,210)
							cursor pointer
				.pag8-4
					height 6px
					width 250px
					background rgb(237,237,237)
					border-radius 3px	
					margin 0 auto
					position relative
					overflow hidden
					>div
						height 6px
						width 250px
						background rgb(0,204,205)
						border-radius 3px	
						position absolute
						left 0
				.pag8-5
					height 31px
					width 280px
					margin 10px auto
					>span
						height 31px 
						display block
						float left
						margin-right -10px
						text-align center
						>span:nth-of-type(1)
							font-size 14px
							line-height 14px
							color rgb(51,51,51)
							display inline-block
							width 100%
						>span:nth-of-type(2)
							font-size 12px
							line-height 14px
							color rgb(153,153,153)
							display inline-block
							width 100%	
	.success
		width 1190px
		height 80px
		background-image url(../img/21.png)	
		background-repeat no-repeat
		margin 0 auto
		margin-top 80px	
		position relative
	.ul1
		width 1213px
		height 496px
		margin 0 auto
		li
			width 280px
			height 496px
			margin-right 20px
			float left
			background rgb(242,243,243)
			position relative
			.img1
				width 280px
				height 184px
			.img2
				width 60px
				height 60px
				position absolute
				left 110px
				top 154px
				img
					width 60px
					height 60px
					border-radius 30px
			.middle
				div
					&:nth-of-type(1)
						font-size 18px
						text-align center
						color rgb(51,51,51)
						margin-top 42px
					&:nth-of-type(2)
						font-size 12px
						text-align center
						color rgb(153,153,153)
						width 200px
						margin 5px auto
						height 36px
						line-height 18px
			.money-raise
				margin-top 20px
				font-size 14px
				padding-left 20px
				.text
					color rgb(51,51,51)
				.colon
					color rgb(51,51,51)
				em
					color rgb(254,100,90)
				.yen
					color rgb(254,100,90)
			.people-support
				margin-top 10px
				font-size 14px
				padding-left 20px
				.text
					color rgb(51,51,51)
				.colon
					color rgb(51,51,51)
				em
					color rgb(254,100,90)
				.yen
					color rgb(254,100,90)
			.content
				font-size 12px
				color rgb(51,51,51)
				height 51px
				padding 15px 20px
				line-height 16px
			.link
				display block
				width 143px
				height 34px
				margin 0 auto
				margin-top 40px
				background rgb(60,219,210)
				text-align center
				line-height 34px
				font-size 16px
				color white
				border-radius 2px
			&:first-of-type
				margin-left 10px
	.footer
		width 1190px
		height 158px
		margin 0 auto
		margin-top 40px
		.footer-hd
			color rgb(108,108,108)
			p
				margin-bottom 8px
				line-height 27px
				border-bottom 1px solid rgb(221,221,221)
				border-top 1px solid rgb(221,221,221)
				font-size 12px
				padding-bottom 8px
				padding-top 8px
				a
					margin 0 4px
		.footer-bd
			color rgb(108,108,108)
			p
				line-height 27px
				font-size 12px
				a
					margin 0 4px
				